 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-color: #263238;
   color: #e0e0e0;
   font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
   font-size: 20px;
   line-height: 1.6;
   overflow-x: hidden;
 }

main {
  border-top-left-radius: 120px;
  background: #1f1f1f;
  width: 100%;
  padding: 60px;
  font-size: 30px;
}

 .wrapper {
   background: #1f1f1f;
 }

 header {
   background: #263238;
   color: #ffffff;
   padding: 93px 0;
   text-align: center;
   min-height: 250px;
   border-bottom-right-radius: 120px;
 }

 h1 {
   position: relative;
   z-index: 2;
   margin-bottom: 20px;
   width: fit-content;
   margin: 0 auto;
   color: gold;
 }

 .wrap {
   max-width: 800px;
   margin: 0 auto;
 }

 .task {
   margin-bottom: 80px;
   border: 2px solid lightgray;
   padding: 20px;
   border-radius: 30px;
 }

 .purple {
   color: #d756d7;
 }

 .gold {
   color: gold;
 }

 .green {
   color: green;
 }

 .center {
   text-align: center;
 }

 .circle {
   width: fit-content;
   margin: 10px auto;
   border: 2px solid green;
   border-radius: 20px;
   padding: 0 10px;
 }
