 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   background-color: #263238;
   color: #e0e0e0;
   font-family: var(--fontStack-monospace, ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace);
   font-size: 20px;
   line-height: 1.6;
   overflow-x: hidden;
 }

main {
  border-top-left-radius: 120px;
  background: #1f1f1f;
  width: 100%;
  padding: 60px;
  font-size: 30px;
}
