* {}
.class {}
#id {}

/* Все p внутри div */
div p {}
/* p прямые потомки div */
div > p {}
/* p сразу после div */
div + p 
/* Все p после div */
div ~ p 

position: static {}
position: relative {}
position: absolute {}
position: fixed {}
position: sticky {}

[title] {} 
[href="..."] {} 
[class^="icon-"] {} 
[class$="-btn"] {} 
[class*="error"] {} 

:hover {}
:active {}
:focus {}

:link {}
:visited {}

:nth-of-type(3) {}
:nth-child(even) {}
:nth-child(odd) {}
:nth-last-of-type {}

:first-child {}
:last-child {}
:first-of-type {}
:last-of-type {}

:only-child {}
:not() {}
:empty {}
:only-of-type {}

:checked {}
:disabled {}
:valid {}
:placeholder-shown {}

::before {}
::after {}
::first-letter {}
::first-line {}
::selection {}
::selection {}




.a {
	
padding: ;
margin: ;

font-size;
font-family;
font-weight;
font-style;
font-variant;

line-height;
color;
vertical-align;
font-feature-settings;

text-align;
text-decoration;
text-transform;
text-shadow;
text-overflow;
text-rendering;

letter-spacing;
word-spacing;
white-space;

word-break;
hyphens;

background-color;
background-image;
background-clip;

box-shadow;
text-shadow;

display: flex;
flex-direction: row;
flex-direction: row;
flex-direction: row;
flex-direction: row;
justify-content;
align-items;
align-self;
flex-wrap;
align-content;
order;
flex-grow;
flex-shrink;
flex-basis;
gap: 20px;
display: grid
grid-row-srart;
grid-column-start;
grid-column-end;
grid-template-areas;
}