.slider {
	position: relative;
}

.slider .wrapper {
	padding: 0 20px;
}

.slider-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 39px;
	text-transform: uppercase;
	letter-spacing: 0;
	margin-bottom: 14px;
}

.slider .link {
	font-size: 18px;
	line-height: 22px;
	text-decoration: none;
	letter-spacing: 0;
	display: inline-block;
	margin-bottom: 18px;
}

.slider .plane {
	position: relative;
	z-index: 40;
}

.slides {
	position: relative;
	z-index: 30;
	margin: -57px auto 0;
	position: relative;
	max-width: 335px;
}

.slide {
	padding: 62px 24px 34px 72px;
	max-width: 335px;
}

.slide p {
	position: relative;
	z-index: 30;
	font-size: 18px;
	letter-spacing: 0;
	line-height: 22px;
	margin-bottom: 26px;
}

.slide p::before {
	content: "";
	position: absolute;
	width: 36px;
	height: 36px;
	background: #fff;
	left: -52px;
	top: 0px;
	border-radius: 50%;
}

.slide p::after {
	content: "1";
	font-size: 20px;
	font-weight: bold;
	position: absolute;
	left: -40px;
	top: 5px;
	border-radius: 50%;
}

.slide p:last-child::after {
	content: "2";
}

.slide:nth-child(2) p:last-child::after {
	content: "3";
}

.slide:nth-child(3) p::after {
	content: "4";
}

.slide:nth-child(3) p:last-child::after {
	content: "5";
}

.slide:nth-child(4) p::after {
	content: "6";
}

.slide:nth-child(5) p::after {
	content: "7";
}

.slide p:last-child {
	margin-bottom: 0;
}

.flex,
.carousel ul,
.slides {
	display: flex;
}

.slides input {
	display: none;
}

.carousel {
	overflow: hidden;
}

.carousel ul {
	position: relative;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 500%;
	transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-dot {
	position: absolute;
	cursor: pointer;
	margin-left: -2px;
	bottom: -51px;
	width: 10px;
	height: 10px;
	opacity: 0.5;
	background-color: #313131;
	border-radius: 50%;
	transition: 0.4s;
}

.nav-dot:hover {
	opacity: 0.8;
}

.nav-dot[for=slide1] {
	left: 40%;
}

#slide1:checked ~ .carousel ul {
	left: 0%;
}

#slide1:checked ~ .nav-dot[for=slide1] {
	opacity: 1;
}

.nav-dot[for=slide2] {
	left: 45%;
}

#slide2:checked ~ .carousel ul {
	left: -100%;
}

#slide2:checked ~ .nav-dot[for=slide2] {
	opacity: 1;
}

.nav-dot[for=slide3] {
	left: 50%;
}

#slide3:checked ~ .carousel ul {
	left: -200%;
}

#slide3:checked ~ .nav-dot[for=slide3] {
	opacity: 1;
}

.nav-dot[for=slide4] {
	left: 55%;
}

#slide4:checked ~ .carousel ul {
	left: -300%;
}

#slide4:checked ~ .nav-dot[for=slide4] {
	opacity: 1;
}

.nav-dot[for=slide5] {
	left: 60%;
}

#slide5:checked ~ .carousel ul {
	left: -400%;
}

#slide5:checked ~ .nav-dot[for=slide5] {
	opacity: 1;
}



.left-arrow,
.right-arrow {
	display: none;
	position: absolute;
	cursor: pointer;
	font-weight: bolder;
	bottom: -28px;
	z-index: 1;
	opacity: 0.7;
	margin-top: -25px;
	transition: 0.2s;
}

.left-arrow::after {
	position: absolute;
	content: "";
	background: url("img/row.svg"), #313131;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	width: 36px;
	height: 36px;
}

.right-arrow::after {
	position: absolute;
	content: "";
	background: url("img/row.svg"), #313131;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
	transform: rotate(180deg);
	width: 36px;
	height: 36px;
}






.left-arrow {
	left: 80px;
}

.right-arrow {
	right: 113px;
}







#slide1:checked ~ .left-arrow[for=slide5],
#slide1:checked ~ .right-arrow[for=slide2] {
	display: block;
}

#slide2:checked ~ .left-arrow[for=slide1],
#slide2:checked ~ .right-arrow[for=slide3] {
	display: block;
}

#slide3:checked ~ .left-arrow[for=slide2],
#slide3:checked ~ .right-arrow[for=slide4] {
	display: block;
}

#slide4:checked ~ .left-arrow[for=slide3],
#slide4:checked ~ .right-arrow[for=slide5] {
	display: block;
}

#slide5:checked ~ .left-arrow[for=slide4],
#slide5:checked ~ .right-arrow[for=slide1] {
	display: block;
}
