body {
	font-family: sans-serif;
	padding: 20px;
	display: flex;
	flex-direction: column;
	background-size: 400% 400%;
	background-image:
		radial-gradient(circle at 10% 20%, rgba(0, 255, 157, 0.05) 0%, transparent 20%),
		radial-gradient(circle at 90% 80%, rgba(0, 184, 255, 0.05) 0%, transparent 20%),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(10, 10, 30, 0.9));
	color: white;
	text-align: center;
}

div {
	font-size: 100px;
}

a {
	display: block;
	color: gold;
	font-size: 30px;
	text-decoration: none;
	border: 2px solid gold;
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 20px;
}

input {
	margin: 0;
	width: 50px;
	height: 50px;
	border-radius: 20px;
	font-size: 22px;
	text-align: center;
	background: gray;
	width: 300px;
	height: 80px;
	font-size: 50px;
}

input::placeholder {
	font-size: 50px;
}

a {
	border-color: gray;
}

span {
	color: gray;
}

.counter {
	font-size: 20px;
	color: lightgreen;
	margin-left: 10px;
}

.input-container {
	display: flex;
	align-items: baseline;
	justify-content: center;
	margin-bottom: 20px;
}