	body {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		margin: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		height: 100vh;
		overflow: hidden;
		background-size: 400% 400%;
		background-image:
			radial-gradient(circle at 10% 20%, rgba(0, 255, 157, 0.05) 0%, transparent 20%),
			radial-gradient(circle at 90% 80%, rgba(0, 184, 255, 0.05) 0%, transparent 20%),
			linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(10, 10, 30, 0.9));
		color: white;
		text-align: center;
	}

	#game-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	input {
		padding: 10px;
		width: 30px;
		height: 30px;
		font-size: 24px;
		text-align: center;
		border: none;
		border-radius: 10px;
		outline: none;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	}

	.flex {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	input::placeholder {
		color: #eee;
	}
