body {
	font-family: sans-serif;
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-size: 400% 400%;
	background-image:
		radial-gradient(circle at 10% 20%, rgba(0, 255, 157, 0.05) 0%, transparent 20%),
		radial-gradient(circle at 90% 80%, rgba(0, 184, 255, 0.05) 0%, transparent 20%),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(10, 10, 30, 0.9));
	color: white;
	text-align: center;
	height: 100vh;
}

div {
	font-size: 100px;
}

a {
	display: block;
	color: gold;
	font-size: 30px;
	text-decoration: none;
	border: 2px solid gold;
	width: fit-content;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
}

span {
	margin-bottom: 40px;
	font-size: 30px;
}