<!DOCTYPE html>
<html lang="ru">

<head>
 <title></title>

 <meta charset="UTF-8">
 <meta name="description" content="">
 <meta name="viewport" 
  content="width=device-width,
  initial-scale=1.0">

 <meta name="robots" content="index">
 <meta name="robots" content="follow">
	
 <meta name="robots" content="noindex">
 <meta name="robots" content="nofollow">

 <meta property="og:title" content="">
 <meta property="og:description" content="">
 <meta property="og:image" content="">
	
 <base href="" target="">

 <link rel="stylesheet" href="s.css"
 type="text/css">
 <link rel="stylesheet" href="https://google.com"
 type="text/css">

 <link rel="icon" href="f.ico" type="image/x-icon,
 image/svg+xml">
 <link rel="icon" href="f.svg" type="image/x-icon,
 image/svg+xml">

 <link rel="" href="" type="" sizes="32x32">
 <link rel="apple-touch-icon" href="i.png">

 <style></style>
</head>

<body>
 <main>
  <header>
   <nav></nav>
  </header>
		
 <section></section>
 <article></article>
 <aside></aside>
 </main>

 <script></script>
 <noscript></noscript>
	
 <footer>
  <address></address>
 </footer>
</body>
</html>