<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Page</title>

	<meta charset="UTF-8">
	<meta name="description" content="page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="robots" content="index">
	<meta name="robots" content="follow">

	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">

	<link rel="stylesheet" href="../../css/indexPageStyle.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">

	<link rel="icon" href="f.ico" type="image/x-icon, image/svg+xml">
</head>

<body>
	<main>
		<a href="https://"></a>

		<a href="https://" target="_blank">
		</a>

		<a href="/files/document.pdf" download>
		</a>

		<a href="/files/document.pdf" download="file.pdf"></a>

		<a href="#id"></a>
		<div id="id"></div>

		<a href="mailto:email@example.com"></a>

		<a href="tel:+1234567890"></a>

		<a href="#" title=""></a>

		<a href="https://" hreflang="de"></a>
	</main>
</body></html>
