<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Page</title>

	<meta charset="UTF-8">
	<meta name="description" content="page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="robots" content="index">
	<meta name="robots" content="follow">

	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">

	<link rel="stylesheet" href="../../css/indexPageStyle.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">

	<link rel="icon" href="f.ico" type="image/x-icon, image/svg+xml">
</head>

<body>
	<main>
		<code>
			<pre>
&#60;<span class="orange">!DOCTYPE html</span>>
&#60;<span class="orange">html lang="ru"</span>>

&#60;<span class="green">head</span>>
 &#60;<span class="green">title</span>&#60;/<span class="green">title</span>>

 &#60;<span class="green">meta</span> <span class="orange">charset="UTF-8"</span>>
 &#60;<span class="green">meta</span> <span class="orange">name="description" content=""</span>>
 &#60;<span class="green">meta</span> <span class="orange">name="viewport" content="width=device-width, initial-scale=1.0"</span>>

 &#60;<span class="green">meta</span> <span class="orange">name="robots" content="index"</span>>
 &#60;<span class="green">meta</span> <span class="orange">name="robots" content="follow"</span>>
	
 &#60;<span class="green">meta</span> <span class="orange">name="robots" content="noindex"</span>>
 &#60;<span class="green">meta</span> <span class="orange">name="robots" content="nofollow"</span>>

 &#60;<span class="green">meta</span> <span class="orange">property="og:title" content=""</span>>
 &#60;<span class="green">meta</span> <span class="orange">property="og:description" content=""</span>>
 &#60;<span class="green">meta</span> <span class="orange">property="og:image" content=""</span>>
	
 &#60;<span class="green">base</span> <span class="orange">href="" target=""</span>>

 &#60;<span class="green">link</span> <span class="orange">rel="stylesheet" href="s.css" type="text/css"</span>>
 &#60;<span class="green">link</span> <span class="orange">rel="stylesheet" href="https://google.com" &#60;type="text/css"</span>>

 &#60;<span class="green">link</span> <span class="orange">rel="icon" href="f.ico" type="image/x-icon, image/svg+xml"</span>>
 &#60;<span class="green">link</span> <span class="orange">rel="icon" href="f.svg" type="image/x-icon, image/svg+xml"</span>>

 &#60;<span class="green">link</span> <span class="orange">rel="" href="" type="" sizes="32x32"</span>>
 &#60;<span class="green">link</span> <span class="orange">rel="apple-touch-icon" href="i.png"</span>>

 &#60;<span class="green">style</span>&#60;/<span class="green">style</span>>
&#60;/<span class="green">head</span>

&#60;<span class="green">body</span>>
 &#60;<span class="green">main</span>>
  &#60;<span class="green">header</span>>
   &#60;<span class="green">nav</span>>&#60;/<span class="green">nav</span>>
  &#60;/<span class="green">header</span>>
		
 &#60;<span class="green">section</span>>&#60;/<span class="green">section</span>>
 &#60;<span class="green">article</span>>&#60;/<span class="green">article</span>>
 &#60;<span class="green">aside</span>>&#60;/<span class="green">aside</span>>
 &#60;/<span class="green">main</span>>

 &#60;<span class="green">script</span>>&#60;/<span class="green">script</span>>
 &#60;<span class="green">noscript</span>>&#60;/<span class="green">noscript</span>>
	
 &#60;<span class="green">footer</span>>
  &#60;<span class="green">address</span>>&#60;/<span class="green">address</span>>
 &#60;/<span class="green">footer</span>>
&#60;/<span class="green">body</span>>
&#60;/<span class="green">html</span>>
		</pre>
		</code>
	</main>
</body></html>
