<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Max</title>

	<meta charset="UTF-8">
	<meta name="description" content="page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="robots" content="index">
	<meta name="robots" content="follow">

	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">

	<link rel="stylesheet" href="../../css/indexPageStyle.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">

	<link rel="icon" href="f.ico" type="image/x-icon, image/svg+xml">
	<style>
	</style>
</head>

<body>
	<main>
		<h1>Chech up</h1>
		<p>!DOCTYPE html</p>
		&#60; <input type="text"> >
		
		<p>html lang="ru"</p>
		&#60; <input type="text"> >
		
		<p>head title style body main header nav section article aside script noscript footer address</p>
		&#60; <textarea ></textarea> >
		
		<p>meta charset="UTF-8"</p>
		&#60; <input type="text"> >
		
		<p>meta name="description" content=""</p>
		&#60; <input type="text"> >
		
		<p>meta name="viewport" content="width=device-width, initial-scale=1.0"</p>
		&#60; <input type="text"> >
		
		<p>meta name="robots" content="index"</p>
		&#60; <input type="text"> >
		
		<p>meta property="og:title" content=""</p>
		&#60; <input type="text"> >
		
		<p></p>
		&#60; <input type="text"> >
		
		<p></p>
		&#60; <input type="text"> >
		
		<p></p>
		&#60; <input type="text"> >
		
	</main>
</body></html>
