<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Page</title>

	<meta charset="UTF-8">
	<meta name="description" content="page">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="robots" content="index">
	<meta name="robots" content="follow">

	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:image" content="">

	<link rel="stylesheet" href="../../css/indexPageStyle.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">

	<link rel="icon" href="f.ico" type="image/x-icon, image/svg+xml">
</head>

<body>
	<main>
		<h1>h1 Главный и единственный на странице</h1>
		<h2>h2 Подзаголовок</h2>
		<h3>h3 Раздел статьи</h3>
		<h4>h4 Подраздел</h4>
		<h5>h5 Маленький заголовок</h5>
		<h6>h6 Самый маленький</h6>
	</main>
</body>
</html>
