.btn {
  display: inline-block;
  padding: $btn-padding-y $btn-padding-x;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: $btn-border-width solid transparent;
  border-radius: $btn-border-radius;
  transition: $btn-transition;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &:disabled {
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }
}

.btn-primary {
  @include button-variant(
    $primary,
    $primary,
    $hover-background: darken($primary, 7.5%),
    $hover-border: darken($primary, 10%),
    $active-background: darken($primary, 10%),
    $active-border: darken($primary, 12.5%)
  );
}

.btn-outline-primary {
  @include button-outline-variant(
    $primary,
    $color-hover: color-yiq($primary),
    $active-background: $primary,
    $active-border: $primary
  );
}

.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}