* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #121619;
	color: #e0e0e0;
	font-family: monospace;
	font-size: 20px;
	line-height: 2.5;
	padding: 20px;
}

main {
	max-width: 500px;
	margin: 0 auto;
	height: 100vh;
}

p {
	text-align: center;
	margin-bottom: 100px;
}

h1 {
	position: relative;
	color: #cc2836;
	text-align: center;
	z-index: 200;
	margin-bottom: 60px;

	font-weight: bold;
	line-height: 4rem;

	text-shadow:
		1px 1px 0 rgba(255, 255, 255, 0.5),
		2px 2px 0 rgba(255, 255, 255, 0.3),
		3px 3px 0 rgba(255, 255, 255, 0.1),
		4px 4px 0 rgba(0, 0, 0, 0.4);
}

h2 {
	color: gold;
	font-size: 20px;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 20px;
}


ul li a {
	padding: 10px 20px;
	border: 2px solid gold;
	border-radius: 20px;
	color: #fff;
	text-decoration: none;

}

main {
	max-width: 1200px;
	margin: auto;
	padding: 20px;
}

.button {
	width: 250px;
	border-radius: 20px;
	background: gold;
	display: block;
	padding: 10px 20px;
	white-space: nowrap;
	text-decoration: none;
	color: #000;
	font-family: monospace;
	margin: 40px auto;
}

.done a {
	background: lightgreen;
	color: #000;
	font-weight: bold;
	border: 1px solid green;
}

.lose a {
	background: red;
	color: #000;
	font-weight: bold;
	border: 1px solid green;
}

.reset-button {
	background: gold;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	padding: 12px 24px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
}

.reset-button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 16px;
	background-color: #f44336;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.reset-button:hover {
	background-color: #d32f2f;
}

.reset-button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* Стили для инпутов */
.password-inputs {
	display: flex;
	gap: 10px;
	margin-top: 20px;
}

.password-inputs input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 18px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.password-inputs input:focus {
	border-color: #f44336;
	outline: none;
}

input::placeholder {
	color: #ddd;
}

input {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	text-align: center;
	border: 2px solid #ccc;
	border-radius: 4px;
}
