* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #121619;
	color: #e0e0e0;
	font-family: monospace;
	font-size: 20px;
	line-height: 2.5;
	padding: 20px;
	z-index: 20;
}

canvas {
	background-color: none;
	width: 300px;
	height: 400px;
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	color: #cc2836;
	text-align: center;
}

h2 {
	color: #cc2836;
	margin-top: 50px;
	font-size: 20px;
}

.done {
	position: relative;
}

.done a {
	background: lightgreen;
	font-weight: bold;
	border: 1px solid green;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 20px;
}

ul li a {
	color: #cc2836;
	text-decoration: none;
	border: 1px solid #cc2836;
	padding: 5px 10px;
	border-radius: 10px;
}
