.lines {
	position: absolute;
	left: 0;
	top: 0;
    display: flex;
    justify-content: space-around; /* Расположение линий с равными промежутками */
    align-items: center; /* Выравнивание по вертикали */
    height: 100%; /* Высота на весь экран */
	width: 100%;
	z-index: -1	;
}

.line {
	width: 1px;
	height: 100%;
	background-color: #222;
	z-index: 0;
}
