body {
	background: #000;
	color: #fff;
	font-family: monospace;
	font-size: 20px;
}

div {
	margin-bottom: 10px;
}

.blur {
	color: gold;
	filter: blur(5px)
}
.blur:hover {
	filter: blur(0px)
}

textarea {
	font-size: 20px;
	border-radius: 5px;
}