body {
	background: #000;
	color: #fff;
	font-family: monospace;
	font-size: 20px;
}

div {
	margin-bottom: 10px;
}

.blur {
	color: gold;
	filter: blur(3px)
}
.blur:hover {
	filter: blur(0px);
	transition: 5s;
}

textarea {
	font-size: 20px;
	border-radius: 5px;
}

.blur.off {
	filter: blur(0px)
}

button {
	margin-bottom: 20px;
	padding: 5px 30px;
	border-radius: 10px;
	background: #000;
	color: gold;
	font-size: 20px;
	font-weight: bold;
	border: 2px solid gold;
}

img {
	margin: 20px 0;
	border-radius: 20px;
	width: 600px;
}